.tab-container {
    height: 100%;
    padding: 0;
}

.tab-menu ul li {
    list-style-type: none;
    display: inline-block;
}

.tab-menu ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    background-color: #b4cbc4;
    padding: 7px 25px;
    border-radius: 4px;
}

.tab-menu ul li a.active-a {
    background-color: #588d7d;
    color: #ffffff;
}

.tab {
    display: none;
    width: 100%;
    height: 100%;
}

.tab h2 {
    color: rgba(0, 0, 0, .7);
}

.tab p {
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.tab-active {
    display: block;
}